<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/libs/font-awesome/css/font-awesome.min.css" | relative_url }}">
    <link href="{{ "/assets/css/bootstrap.min.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "/assets/css/styles.css" | relative_url }}" rel="stylesheet">
</head>

<body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ "/assets/js/scripts.min.js" | relative_url }}"></script>
</body>

</html>